<app-navbar></app-navbar>
<app-ErrorDisplay *ngIf="display"></app-ErrorDisplay>

<!-- Main Heading starts -->

<div class="heading-bg">

  <section class="heading-link">
    <h3>about us</h3>
    <p> <a routerLink="/home">home</a> / about </p>
  </section>

</div>

<!-- Main Heading ends -->

<!-- about section starts  -->

<div class="about-image">

  <img src="../../assets/images/about-1.jpg" alt="">

</div>

<section class="about">

  <div class="image">
    <img src="../../assets/images/about-2.jpg" alt="">
  </div>

  <div class="content">

    <h3 class="about-title">we have best Future for you</h3>

    <span>You may never know what results come of your action, but if you do nothing there will be no result</span>

    <p>College helps students develop into mature, responsible and independent adults. But you’re not entirely on your
      own colleges offer students many kinds of help making this transition, such as <i
        title="Tutoring is private academic support, usually provided by an expert teacher">tutoring</i> and academic
      advising
      as well as counseling and other support.
    </p>

  </div>

</section>

<!-- about section ends -->

<!-- Placement section starts here -->

<div class="placement">

  <div class="placement-content">
    <h2>PLACEMENT</h2>
    <h3>2022-2023 Batch</h3>
    <h4>Offer With Higher Package Of 40 LPA*</h4>
    <p>Salary include all</p>
  </div>

  <div class="placement-company-division">

    <div class="placement-division">
      <img src="../../assets/images/company-1.png">
      <img src="../../assets/images/company-2.jpg">
      <img src="../../assets/images/company-3.jpg">
      <img src="../../assets/images/company-4.jpg">
    </div>
    <div class="placement-division">
      <img src="../../assets/images/company-5.jpg">
      <img src="../../assets/images/company-6.jpg">
      <img src="../../assets/images/company-7.jpg">
      <img src="../../assets/images/company-8.jpg">
    </div>
    <div class="placement-division">
      <img src="../../assets/images/company-9.jpg">
      <img src="../../assets/images/company-10.jpg">
      <img src="../../assets/images/company-11.jpg">
      <img src="../../assets/images/company-12.jpg">
    </div>
    <div class="placement-division">
      <img src="../../assets/images/company-13.jpg">
      <img src="../../assets/images/company-14.jpg">
      <img src="../../assets/images/company-15.jpg">
      <img src="../../assets/images/company-16.jpg">
    </div>

  </div>

</div>

<!-- Placement section ends here -->

<!-- students review section starts  -->

<section class="review">

  <h1 class="heading"> our students review </h1>

  <div class="container">

    <div class="box" *ngFor="let review of reviewFromDatabase">

      <i class="fas fa-quote-left quote"></i>

      <p>{{review.MESSAGE}}</p>

      <div class="content">

        <div class="info">

          <div class="name">{{review.NAME}}</div>

          <div class="job">{{review.DEPARTMENT}}</div>

          <p hidden *ngIf="generateStarSymbols(review.RATING)"></p>

          <div class="stars">
            <i class="fas fa-star" *ngFor="let star of stars"></i>
            <i class="far fa-star" *ngFor="let star of nonStars"></i>
          </div>

        </div>

        <div class="image first">
          <img src="../../assets/images/review-img.png" alt="">
        </div>

      </div>

    </div>

  </div>

</section>

<!-- students reviews section ends -->

<app-footer></app-footer>

<!-- Pop-Up Display About Quotes Starts here -->

<div class="offer-popup" *ngIf="PopupMsg">

  <i class="fas fa-times" (click)="closePopUp()"></i>

  <div class="popup-offer-div">

    <h1 class="popup-heading">Quotes</h1>

    <h1 class="popup-sub-heading">{{countDownTimer}}</h1>

    <div class="popup-sub-division">

      <p class="slogan">{{quoteData}}</p>

    </div>

    <p class="author">- {{authorData}}</p>

  </div>

</div>

<!-- Pop-Up Display About Quotes Ends here -->
