/*-------------------------------------------------------------
----------------- Header section starts here-------------------
---------------------------------------------------------------  */

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}

header {
  padding: 2rem 9%;
  /* width: 100%; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #03262c;
}

header .logo {
  font-size: 2rem;
  color: #fff;
}

header .logo span {
  color: #4070f4;
}

header .logo i {
  color: #4070f4;
}

header .navbar a {
  font-size: 1.5rem;
  border: 1px solid #03262c;
  color: #fff;
  margin-left: 2rem;
  padding: 6px 15px;
}

header .navbar a:last-child {
  background-color: #4070f4;
  padding: 0.6rem 0.8rem;
  color: #fff;
  border: 0.2rem solid #afc4ff;
}

header .navbar a:last-child:hover {
  background-color: #fff;
  color: #4070f4;
  border: 0.2rem solid #4070f4;
}

header .navbar a:hover {
  color: #4070f4;
  border: 1px solid #afc4ff;
  background: none;
}

.activated {
  background-color: #4070f4;
  border-radius: 3rem;
  color: #fff;
}

#menu-btn {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #4070f4;
  margin: 0;
  padding: 0.9rem 1rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 1470px) {
  header {
    padding: 2.1rem 9%;
  }
  header .logo {
    font-size: 1.8rem;
  }
  header .navbar a {
    font-size: 1.3rem;
    margin-left: 1.5rem;
  }
}

@media (max-width: 1300px) {
  header {
    padding: 2.1rem 5%;
  }
  header .logo {
    font-size: 1.8rem;
  }
  header .navbar a {
    font-size: 1.3rem;
    margin-left: 1.5rem;
  }
}

@media (max-width: 1140px) {
  header .navbar {
    position: fixed;
    top: 9.5rem;
    right: 1rem;
    border: 0.2rem solid #4070f4;
    background-color: #fff;
    border-radius: 1rem;
    width: 25rem;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;
    text-align: center;
  }

  #menu-btn {
    display: inline-block;
  }

  header {
    background-position: center;
    justify-content: space-around;
    padding: 1.4rem 5%;
  }

  header .navbar.active {
    transform: scale(1);
    opacity: 1;
    transition: 0.2s ease-out;
  }

  header .navbar a {
    font-size: 1.5rem;
    display: block;
    margin: 2rem;
    border: 1px solid #4070f4;
    color: #03262c;
    padding: 6px 10px;
    outline: none;
  }

  header .navbar a:hover {
    background: #4070f4;
    color: #fff;
    transition: 0.3s ease-out;
    transition-delay: 0.1s;
  }

}

/* Header section ends here  */
