/*-------------------------------------------------------------
--------------- Student Exam Section starts here --------------
---------------------------------------------------------------  */

header {
  height: 75px;
  margin-top: -3.9rem;
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  background-color: #efefef;
  border: 1px solid #4070f4;
  box-shadow: .5rem .5rem 0 #a6bcfa;
  padding: 1rem 8rem;
  z-index: 5000;
}

.main-content {
  padding: 0;
  overflow: hidden;
}

.main-content header .menu-toggle h1 {
  color: #4070f4;
  font-size: 2.6rem;
}

.main-content header .icon {
  transform: translateX(630%);
  cursor: pointer;
}

.main-content header .icon span {
  padding: 8px;
  position: relative;
  font-size: 2.3rem;
  color: #4070f4;
}

.UserDesign {
  color: #4070f4;
  background-color: #fff;
  padding: 10px;
  border: .2rem solid #4070f4;
}

.main-content header .icon a {
  text-decoration: none;
}

.main {
  padding: 1.5rem;
  background: #a6bcfa;
  min-height: 89.4vh;
}

.page-header {
  margin-top: 2rem;
  display: flex;
  padding: 1.2rem;
  justify-content: space-between;
  border-bottom: .3rem solid #4070f4;
}

.page-header div h1 {
  font-size: 2.2rem;
}

.header-actions a {
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #4070f4;
  border: .1rem solid #4070f4;
  padding: 0.6rem 1rem;
  margin: .5rem;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.7rem;
}

.header-actions a:hover {
  background: #fff;
  color: #4070f4;
  border: .1rem solid #4070f4;
  box-shadow: .2rem .2rem 0 #d2dfff;
}

.buttons {
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn {
  color: #fff;
  background: #4070f4;
  box-shadow: .2rem .2rem 0 #d2dfff;
  font-size: 1.8rem;
  padding: 0.3rem 1rem;
  font-weight: 500;
  margin: 2rem;
  justify-content: space-between;
  border: .1rem solid #000000;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: #4070f4;
  border: .1rem solid #4070f4;
}

.seperate-exam {
  display: flex;
  flex-wrap: wrap;
}

.StudentExam-container {
  max-width: 600px;
  width: 100%;
  border-radius: 6px;
  padding: 25px;
  margin: 2rem auto;
  border-top: 8px solid #4070f4;
  border-left: .2rem solid #4070f4;
  border-right: .2rem solid #4070f4;
  border-bottom: .2rem solid #4070f4;
  background-color: #fff;
}

.StudentExam-container h1 {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  color: #03262c;
}

.StudentExam-container h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 160px;
  border-radius: 8px;
  background-color: #4070f4;
}

.StudentExam-container form {
  margin-top: 16px;
  background-color: #fff;
}

.StudentExam-container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.StudentExam-container form .fields .input-field {
  display: flex;
  width: calc(100% - 15px);
  flex-direction: column;
  margin: 4px 0;
}

.StudentExam-container form .Different-addtt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.StudentExam-container form .Different-addtt .input-field {
  display: flex;
  width: calc(100% - 15px);
  flex-direction: column;
  margin: 4px 0;
}

.StudentExam-container .input-field label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #4070f4;
}

.StudentExam-container .input-field input,
.StudentExam-container .input-field select {
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  color: #555;
  border: .1rem solid #555;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
  width: calc(100%-10%);
}

.StudentExam-container .input-field input:focus,
.StudentExam-container .input-field select:focus {
  box-shadow: .2rem .2rem 0 #a6bcfa;
  border: .1rem solid #4070f4;
  color: #000000;
}

.StudExamDetails {
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.StudExamDetails-list {
  width: 95%;
  padding: 10px;
  margin: 10px auto ;
  background: #fff;
  border-radius: 10px;
  border: .1rem solid #4070f4;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.StudExamDetails-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
}

table thead tr {
  color: #fff;
  font-size: 1.2rem;
  background: #4070f4;
  text-align: left;
  font-weight: bold;
}

.StudExamDetails-table th,
.StudExamDetails-table td {
  padding: 12px 15px;
}

.StudExamDetails-table td {
  font-size: 1rem;
}

.StudExamDetails-table tbody tr {
  border-bottom: 1px solid #fff;
}

.StudExamDetails-table tbody tr:nth-of-type(odd) {
  background: #fff;
}

.StudExamDetails-table tbody tr.active {
  font-weight: bold;
  color: #4070f4;
}

.StudExamDetails-table tbody tr:last-of-type {
  border-bottom: 2px solid #4070f4;
}

.Exam-Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1rem 8%;
}

.container {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border: 0.2rem solid #4070f4;
  background-color: #fff;
  cursor: pointer;
}

.container:hover {
  border: 0.2rem solid #fff;
  background-color: #4070f4;
color: #fff;
}

.Exam-Container .container h1 {
  font-size: 1.5rem;
}

/*  Student Exam section ends here */
