header {
  height: 70px;
  display: flex;
  width: 88%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  border: 1px solid #4070f4;
  box-shadow: 0.2rem 0.2rem 0 #d8e0f7;
  padding: 1rem 8rem;
  z-index: 5000;
}

.main-content {
  padding: 0;
  overflow: hidden;
}

.main-content header .menu-toggle h1 {
  font-size: 2.2rem;
  color: #4070f4;
}

.main-content header .icon span {
  padding: 0px;
  cursor: pointer;
  font-size: 2.2rem;
  color: #4070f4;
}

.main {
  min-height: 100vh;
  background: #a6bcfa;
}

.buttons {
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn {
  color: #fff;
  background: #4070f4;
  box-shadow: 0.2rem 0.2rem 0 #d2dfff;
  font-size: 1.8rem;
  padding: 0.3rem 1rem;
  font-weight: 500;
  margin: 2rem;
  justify-content: space-between;
  border: 0.1rem solid #000000;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: #4070f4;
  border: 0.1rem solid #4070f4;
}

.Fees-Container {
  margin: 5rem 5%;
  border: .1rem solid #4070f4;
  background: #fff;
  padding: 1rem;
  height: 48rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Section1 {
  margin: 1rem;
  padding: 1rem;
  border: .1rem solid #4070f4;
  background: #fff;
}

.Section1 .div {
  background-color: #4070f4;
  color: #fff;
  padding: 1rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Section1 .div p {
  font-size: 2rem;
}

.Payment-container form .fields .input-field img {
  height: 40px;
  width: 40%;
  margin-top: 10px;
  filter: drop-shadow(0 0 1px #000);
}

.Payment-container {
  max-width: 600px;
  width: 100%;
  border-radius: 6px;
  padding: 25px;
  margin: 3rem auto;
  background-color: #fff;
  border-top: 8px solid #4070f4;
  border-left: .2rem solid #4070f4;
  border-right: .2rem solid #4070f4;
  border-bottom: .2rem solid #4070f4;
}

.Payment-container form {
  margin-top: 16px;
  background-color: #fff;
  overflow: hidden;
}

.Payment-container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Payment-container form .fields .input-field {
  display: flex;
  width: calc(100% - 15px);
  flex-direction: column;
  margin: 4px 0;
}

.Payment-container .input-field label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #4070f4;
}

.Payment-container .input-field input {
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  border: .1rem solid #555;
  color: #000000;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
  width: calc(100%-10%);
}

.Payment-container .input-field input:focus {
  box-shadow: .2rem .2rem 0 #d2dfff;
  border: .1rem solid #4070f4;
  color: #000000;
}
