<app-navbar></app-navbar>

<!-- Main Heading starts -->

<div class="heading-bg">
  <section class="heading-link">
      <h3>Services</h3>
      <p> <a routerLink="/home">home</a> / services </p>
  </section>
</div>

<!-- Main Heading ends  -->

<!-- services section starts  -->

<section class="services">

  <h1 class="heading"> our services </h1>

  <div class="row">

      <div class="column">
          <div class="card">
              <div class="icon-wrapper">
                  <i class="fas fa-desktop"></i>
              </div>
              <h3>Free Online ceritification course</h3>
              <p>
                  Certification courses are worked for those students who are not able to avail degree programs.and provide you convenient way to enhance the practical skills.
              </p>
          </div>
      </div>

      <div class="column">
          <div class="card">
              <div class="icon-wrapper">
                  <i class="fas fa-file-video"></i>
              </div>
              <h3>Online video lectures</h3>
              <p>
                  An online lecture is an educational lecture designed to be post recorded video, audio or both, then uploaded and made viewable on a designated site.
              </p>
          </div>
      </div>

      <div class="column">
          <div class="card">
              <div class="icon-wrapper">
                  <i class="fas fa-chart-bar"></i>
              </div>
              <h3>Performance and Ranking report</h3>
              <p>
                  Ranking is a type of performance evaluation that sorts set percentages of students into specific categories based on how well they are performing.
              </p>
          </div>
      </div>

      <div class="column">
          <div class="card">
              <div class="icon-wrapper">
                  <i class="fas fa-comments"></i>
              </div>
              <h3>Dicussion with Our Mentors</h3>
              <p>
                  Dicussion with Our Mentors agenda flow roughly like this: learn about each other, discuss personal and professional history, look for common ground.
              </p>
          </div>
      </div>

      <div class="column">
          <div class="card">
              <div class="icon-wrapper">
                  <i class="fas fa-drafting-compass"></i>
              </div>
              <h3>Welfare</h3>
              <p>
                  Welfare can be defined as the tools and services that support the functionality, safety, and  buildings sustainability, grounds and infrastructure.
              </p>
          </div>
      </div>

      <div class="column">
          <div class="card">
              <div class="icon-wrapper">
                  <i class="fas fa-lightbulb"></i>
              </div>
              <h3>24x7 Online Support</h3>
              <p>
                  24x7 Online Support is a customer service strategy that involves providing support 24 hours a day, and 7 days a week.
              </p>
          </div>
      </div>

  </div>

</section><br><br>

<!-- services section ends -->

<app-footer></app-footer>
