/*-------------------------------------------------------------
----------------- Home Section starts here---------------------
---------------------------------------------------------------  */

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: -2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 100;
}

.home .home-image-container {
  position: relative;
  margin-top: -0.1rem;
  height: 92vh;
  width: 100%;
  z-index: 1;
}

.home .home-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
  z-index: 2;
}

.home .home-image-container .imagediv {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .content {
  position: absolute;
  z-index: 3;
  margin-top: -60rem;
  margin-left: 25rem;
}

.home .content h3 {
  font-size: 4.2rem;
  color: #fff;
  margin-bottom: 2px;
  margin-left: 6.2rem;
  font-weight: 400;
  text-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.home .content p {
  font-size: 2rem;
  color: #fff;
  margin-left: -2rem;
}

.home-icons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-bottom: 5rem;
  margin: 0 10rem;
}

.home-icons-container .icons {
  border: 0.1rem solid #4070f4;
  box-shadow: 0.3rem 0.3rem 0 #afc4ff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1.5rem;
  cursor: pointer;
}

.home-icons-container .icons i {
  font-size: 4rem;
  color: #4070f4;
}

.home-icons-container .icons h3 {
  font-size: 2.5rem;
  color: #444;
  padding: 0.5rem 8rem;
  margin-top: 0.6rem;
  margin-bottom: -5px;
  font-weight: 500;
  font-family: Verdana;
  text-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.home-icons-container .icons p {
  margin-top: 10px;
  font-size: 1.3rem;
  color: rgb(119, 119, 119);
}

.home-icons-container .icons:hover {
  background-color: #4070f4;
  transition: 0.3s ease-in-out;
}

.home-icons-container .icons:hover i,
.home-icons-container .icons:hover p {
  color: #03262c;
}

.home-icons-container .icons:hover h3 {
  color: #afc4ff;
}

.home-contact-container {
  width: 100%;
  margin-top: 12rem;
  height: 40rem;
}

.home-contact-image-container {
  width: 70%;
  height: 35rem;
  margin: 0 auto;
  position: relative;
}

.home-contact-container .home-contact-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 2;
}

.contactimagediv {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-contact-content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact-content {
  position: absolute;
  text-align: center;
  z-index: 3;
  margin-top: -35rem;
  margin-left: 25rem;
}

.contact-content h3 {
  color: #fff;
  font-weight: 500;
  font-size: 2.3rem;
  margin-left: 16rem;
  margin-top: 0;
  margin-right: 16rem;
  margin-bottom: 1.5rem;
}

.heading {
  text-align: center;
  margin: 5rem auto;
  font-weight: 100;
  font-size: 3rem;
  text-transform: capitalize;
  color: #fff;
  padding: 1rem 3rem;
  width: fit-content;
  background-color: #4070f4;
  border-radius: 5rem;
}

/* Home section ends here  */

/*-------------------------------------------------------------
----------------- Overall Button Styling starts here-----------
---------------------------------------------------------------  */

.btn {
  display: inline-flex;
  margin: 1rem 41%;
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3rem;
  text-decoration: none;
}

.btn span {
  padding-top: 0.5rem;
  padding-left: 1rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  color: #fff;
}

.btn:hover {
  background: #fff;
  color: #4070f4;
}

.btn:hover span {
  color: #4070f4;
}

/* Overall Button styling ends here  */

/*-------------------------------------------------------------
----------------- Popup Styling starts here--------------------
---------------------------------------------------------------  */

.offer-popup {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 85vh;
  top: 7rem;
  left: 1rem;
  z-index: 5;
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  width: 98%;
  backdrop-filter: blur(10px);
}

.offer-popup .fa-times {
  font-size: 4rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
  color: #fff;
  cursor: pointer;
}

.offer-popup .fa-times:hover {
  font-size: 4rem;
  color: red;
}

.popup-offer-div {
  margin-top: 6rem;
  background-color: #e6e6e6;
  border: 0.2rem solid#4070f4;
  position: relative;
  height: 42rem;
  width: 90rem;
}

.image-popup-div-1 {
  margin-top: 1rem;
  margin-left: -1rem;
  height: 10rem;
  width: 20rem;
}

.image-popup-div-1 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.section-popup {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.popup-div-2-content {
  margin-left: -8rem;
  margin-top: 5rem;
}

.popup-div-2-content p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #4070f4;
  text-decoration: underline;
}

.popup-div-2-content ul li {
  font-size: 1.2rem;
  list-style: none;
  line-height: 2;
  color: #03262c;
}

.image-popup-div-2 {
  margin-left: -6rem;
  height: 28rem;
  width: 80rem;
}

.image-popup-div-2 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.div-main-popup {
  display: flex;
  flex-direction: column;
  margin-top: -9rem;
}

.popup-content-div {
  text-align: center;
  display: flex;
  justify-content: center;
}

.popup-content-div p {
  font-family: Georgia;
  font-style: italic;
  font-size: 3rem;
  border-radius: 5rem;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #4070f4;
}

.phone-popup-div {
  text-align: right;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  background-color: #4070f4;
  border: 0.1rem solid #fff;
  margin-top: 1rem;
  width: fit-content;
  padding: 1rem;
  font-size: 1.5rem;
}

/* Popup styling ends here  */
