<app-navbar></app-navbar>

<!-- Home section starts  -->

<section class="home">

  <div class="home-image-container">
    <img class="imagediv" src="../../assets/images/home-1.jpg">
  </div>

  <div class="home-content-container">

    <div class="content">
      <h3>Cloud Institute of Engineering</h3>
      <p>Education is the most powerful weapon which you can use to change the world...</p>
      <a class="btn" routerLink="/about">Explore More<span class="fas fa-caret-square-right"></span> </a>
    </div>
  </div>

</section>

<!-- home section ends -->

<!-- icons section starts  -->

<h1 class="heading"> college facilities </h1>

<section class="home-icons-container">

  <div class="icons">
    <i class="fas fa-user-secret"></i>
    <h3>500+</h3>
    <p>Faculties at work</p>
  </div>

  <div class="icons">
    <i class="fas fa-users"></i>
    <h3>5050+</h3>
    <p>Satisfied students</p>
  </div>

  <div class="icons">
    <i class="fas fa-bed"></i>
    <h3>300+</h3>
    <p>hostel facility are available</p>
  </div>

  <div class="icons">
    <i class="fas fa-bus"></i>
    <h3>100+</h3>
    <p>Bus facility are available</p>
  </div>

</section>

<!-- icons section ends -->

<!-- idea section starts here  -->

<div class="home-contact-container">

  <div class="home-contact-image-container">
    <img class="contactimagediv" src="../../assets/images/home-about.jpg">
  </div>

  <div class="home-contact-content-container">

    <div class="contact-content">
      <h3>Enroll For Our Various Online Courses <br> Anywhere From The World</h3>
    </div>

  </div>

</div>

<!-- idea section ends here  -->

<!-- Pop-Up Display About Admission Starts here -->

<div class="offer-popup" *ngIf="PopupMsg">

  <i class="fas fa-times" (click)="closePopUp()"></i>

  <div class="popup-offer-div">

    <div class="image-popup-div-1">
      <img src="../../assets/images/Admission-1.jpg" alt="">
    </div>

    <div class="div-main-popup">

      <div class="popup-content-div">
        <p>Bring out the Best in you</p>
      </div>

      <div class="section-popup">

        <div class="image-popup-div-2">
          <img src="../../assets/images/Admission-3.png" alt="">
        </div>

        <div class="popup-div-2-content">
          <p>Course Offered(4 years)</p>
          <ul>
            <li>Computer Science and Engineering</li>
            <li>Information Technology</li>
            <li>Civil Engineering</li>
            <li>Mechanical Engineering</li>
            <li>Automobile Engineering</li>
            <li>Electrical & Electronics Engineering</li>
            <li>Electronics & Communication Engineering</li>
          </ul>
        </div>

      </div>

      <a href="tel:9787943467" class="phone-popup-div"> <i class="fas fa-phone"></i>&numsp; +91-97879-43467 </a>

    </div>

  </div>

</div>

<!-- Pop-Up Display About Admission Ends here -->

<app-footer></app-footer>
