<!-- Header section Starts  -->

<header>
  <a class="logo" routerLink="/home">
    <i class="fas fa-cloud-moon"></i> <span>C</span>loud...
  </a>

  <a class="btn-main" routerLink="/home"><i class="fas fa-home"></i><span>&numsp;Home Page</span></a>
</header>

<!-- Header section Ends  -->

<!-- Register page Starts here  -->

<div class="main"><br>

  <div class="Register-container">

    <h1>Register Form</h1>

    <form [formGroup]="registerReactiveForm"
      (ngSubmit)="submitList()">


      <div class="fields">

        <div class="input-field">
          <label>Username</label>
          <input name="username" autocomplete="off" type="text" pattern="^[a-zA-Z]+$" placeholder="Enter your name" formControlName="USERNAME">
          <p class="empty">&numsp;<br></p>
          <div class="information-error" *ngIf="registerReactiveForm.controls['USERNAME'].invalid && registerReactiveForm.controls['USERNAME'].dirty">
            <p class="error" *ngIf="registerReactiveForm.controls['USERNAME'].errors?.['required']"><i
                class="fas fa-exclamation-circle"></i>&numsp; Username is not Empty!</p>
            <p class="error" *ngIf="registerReactiveForm.controls['USERNAME'].errors?.['pattern']"><i
                class="fas fa-exclamation-circle"></i>&numsp; Username only contains Alphabets</p>
          </div>
          <div class="information-error"
            *ngIf="registerReactiveForm.controls['USERNAME'].valid && registerReactiveForm.controls['USERNAME'].dirty">
            <small class="success"><i class="fas fa-thumbs-up"></i>&numsp; Correct</small>
          </div>

        </div>

        <div class="input-field">
          <label>Email</label>
          <input name="email" autocomplete="off" type="email"
            pattern="^[0-9a-zA-Z]+[._]{0,1}[0-9a-zA-Z]+[@][a-zA-Z]+[.][a-zA-Z]{2,3}([.][a-zA-Z]{2,3}){0,1}$" placeholder="Enter your email" formControlName="EMAIL">
          <p class="empty">&numsp;<br></p>
          <div class="information-error"
            *ngIf="registerReactiveForm.controls['EMAIL'].invalid && registerReactiveForm.controls['EMAIL'].dirty">
            <p class="error" *ngIf="registerReactiveForm.controls['EMAIL'].errors?.['required']"><i
                class="fas fa-exclamation-circle"></i>&numsp; email is not Empty!</p>
            <p class="error" *ngIf="registerReactiveForm.controls['EMAIL'].errors?.['pattern']"><i
                class="fas fa-exclamation-circle"></i>&numsp; email only in mdk@gmail.com this format
            </p>
          </div>
          <div class="information-error"
            *ngIf="registerReactiveForm.controls['EMAIL'].valid&& registerReactiveForm.controls['EMAIL'].dirty">
            <small class="success"><i class="fas fa-thumbs-up"></i>&numsp; Correct</small>
          </div>
        </div>

        <div class="input-field">
          <label>Password</label>
          <input pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$" name="password" type="password" placeholder="Enter your password" formControlName="PASSWORD" />
          <p class="empty">&numsp;<br></p>
          <div class="information-error"
            *ngIf="registerReactiveForm.controls['PASSWORD'].invalid&& registerReactiveForm.controls['PASSWORD'].dirty">
            <p class="error" *ngIf="registerReactiveForm.controls['PASSWORD'].errors?.['required']"><i
                class="fas fa-exclamation-circle"></i>&numsp; password is not Empty!</p>
            <p class="error" *ngIf="registerReactiveForm.controls['PASSWORD'].errors?.['pattern']"><i
                class="fas fa-exclamation-circle"></i>&numsp; password have min 7 digits, uppercase,
              lowercase, number and special character</p>
          </div>
          <div class="information-error"
            *ngIf="registerReactiveForm.controls['PASSWORD'].valid&& registerReactiveForm.controls['PASSWORD'].dirty">
            <small class="success"><i class="fas fa-thumbs-up"></i>&numsp; Correct</small>
          </div>
        </div>

        <div class="input-field">
          <label>Confirm Password</label>
          <input name="Confirmpassword" type="password" placeholder="Enter your Confirm password" formControlName="CONFIRMPASSWORD">
          <p class="empty">&numsp;<br></p>
          <div class="information-error"
            *ngIf="registerReactiveForm.controls['CONFIRMPASSWORD'].invalid&& registerReactiveForm.controls['CONFIRMPASSWORD'].dirty">
            <p class="error" *ngIf="registerReactiveForm.controls['CONFIRMPASSWORD'].errors?.['required']"><i
                class="fas fa-exclamation-circle"></i>&numsp; Confirm password is not Empty!</p>
            <p class="error"
              *ngIf="registerReactiveForm.controls['CONFIRMPASSWORD'].errors?.['confirmPasswordValidator']"><i
                class="fas fa-exclamation-circle"></i>&numsp; confirm password does not match password
            </p>
          </div>
          <div class="information-error"
            *ngIf="registerReactiveForm.controls['CONFIRMPASSWORD'].valid&& registerReactiveForm.controls['CONFIRMPASSWORD'].dirty">
            <small class="success"><i class="fas fa-thumbs-up"></i>&numsp; Correct</small>
          </div>
        </div>

      </div>

      <br><br>

      <div class="buttons">
        <button type="submit"
          title="It Enables only the input field does not contain any errors" class="btn-register">Register &numsp; <i class="fas fa-caret-square-right"></i></button>
      </div>

      <p class="Sign-in">Already have an account : <a routerLink="/login">sign-in</a></p>
    </form>

  </div>

</div>

<!-- Register page ends here  -->
